<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>City</th>
          </tr>
        </thead>
        <tbody>
            <tr class="info" *ngFor="let item of userList">
                <td>{{item.firstName}}</td>
                <td>{{item.lastName}}</td>
                <td>{{item.city}}</td>
                <td><app-details [userDetails]="item" (updateCity)="updateUserCity(item,curruntPage)"></app-details></td>
                <td> <button (click)="editUser(item.id)" class="btn btn-primary mr-1">Edit</button ></td>
                <td> <button (click)="deleteUser(item.id,curruntPage)" class="btn btn-primary mr-1">Delete</button ></td>
            </tr>
        </tbody>
        </table>
      
</div>
<ngx-ui-loader></ngx-ui-loader>
{{curruntPage}}
<app-pagination [maxPages]="maxpa"
[current]="curruntPage"
[postsPerPage]="postsPerPage"
[itemsPerPage]="5"
(changePage)="getNextPage($event)"></app-pagination>


 
    
